.main{
    border: 2px solid black;
    height: 40px ;
    width: 40px;
    background-color: pink;
    margin: 300px auto; 
}

@media only screen and (max-width : 400px)  {
    .main{
        background-color: blue;
    }
}

@media only screen and (min-width : 300px) {
    .main{
        background-color: black;
    }
    
}

.flex{
    height: 100px;
    border: 2px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 20px;
    order: 2;

}

.flex div{
    border: 2px solid black;
    height: 40px;
    flex: 1;
    background-color: red;
}

.flex #maaz{
    flex: 4;
}